/* detail.css - contains CSS for product detail page specifically */

/* view buttons in top right corner of page */
.view_options {
    display: inline-block;
    border: 1.5px solid black;
    text-align: center;
    padding: 2px 2px;
    font-family: Nunito, sans-serif;
    float: right;
    margin-top: 30px;
}

#relaxed_button {
    background-color: #D2ACAC;
}

/* creates large box for product info to go in */
.pumpkin-detail {
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #EEEE;
    border: medium solid #A18484;
    height: 550px;
    border-radius: 40px;
    margin-left: 30px;
    margin-right: 30px;
}

/* creates the grid for the product detail page */
main {
    display: grid;
    grid-gap: 10px;
    box-sizing: border-box;
    grid-template-columns: 37.5% 12.5% 25% 25%;
    grid-template-rows: 15% 11% 11% 20% 18% 25%;
    /* assigns rows and columns to items */
    grid-template-areas: "roll_label none roll_title roll_title"
                         "large_roll_image roll_images price_title price_title"
                         "large_roll_image roll_images description_title ingredients_title"
                         "large_roll_image roll_images description description"
                         "large_roll_image roll_images flavor_options quantity_options"
                         "large_roll_image roll_images add_to_cart_button add_to_cart_button";
    margin: 10px;
    font-weight: lighter;
    font-size:27px;
    justify-content: center;
    justify-items: center;
    align-items: stretch;
    align-content: center;
    grid-auto-rows: 1fr;
    grid-auto-flow: column;
}

/* formats Best Seller label */
.roll_label {
    grid-area: roll_label; /* assigns grid area to class */
    font-size: 25px;
    background-color: black;
    color: white;
    width: 375px;
    margin-top: 30px;
    text-align: center;
}

.roll_title {
    grid-area: roll_title; /* assigns grid area to class */
    align-self: end;
    font-size: 40px;
}

.large_roll_image {
    grid-area: large_roll_image; /* assigns grid area to class */
    width: 375px;
    height: 375px;
    border: medium solid #A18484;
    border-radius: 10%;
    align-self: center;
}
.small_image_edit {
    width: 110px;
    height: 110px;
    border: medium solid #A18484;
    border-radius: 10%;
    opacity: .5;
    margin: 5px;
}

.roll_images {
    grid-area: roll_images; /* assigns grid area to class */
    align-self: center;
}

.price_title {
    grid-area: price_title; /* assigns grid area to class */
    align-self: start;
}

.price {
    justify-content: space-between;
    font-size: 15px;
    font-weight: lighter;
}

.description_title {
    grid-area: description_title; /* assigns grid area to class */
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}

.ingredients_title {
    grid-area: ingredients_title; /* assigns grid area to class */
}

.description {
    grid-area: description; /* assigns grid area to class */
    font-size: 17px;
    line-height: 26px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
}

.flavor_options {
    grid-area: flavor_options; /* assigns grid area to class */
    float: left;
}

.quantity_options {
    grid-area: quantity_options; /* assigns grid area to class */
    float: left;
}

/* formats dropdown menus for flavor and quantity */
.drop-down-button {
    display: block;
    position: relative;
    margin: 10px;
    background-color: #C4C4C4;
    color: grey;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: 150px;
    font-weight: lighter;
    font-family: Nunito, sans-serif;
    overflow: hidden;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    width: 100%;
    overflow: auto;
    position: absolute;
    margin: 10px;
    background-color: #C4C4C4;
    color: grey;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: 150px;
    font-weight: lighter;
    text-align: center;
    font-family: Nunito, sans-serif;
    z-index: 1;
}
.show {
    display:block;
}

.dropdown-content ul:hover {
  background-color: dimgrey;
}

/* formats red x image to be circular and in the right location */
.close_detail {
    width:30px;
    height: auto;
    border-radius: 100%;
    float: left;
    margin-bottom: 40px;
}

.add_to_cart {
    grid-area: add_to_cart_button; /* assigns grid area to class */
}
/* formats add to cart button */
.add_to_cart_button {
    background-color: #D2ACAC;
    border: medium solid #A18484;
    border-radius: 19px;
    padding: 14px 20px;
    text-align: center;
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-size: 45px;
    float: right;
    margin-right: 10px;
    align-self: center;
}