/* home.css - contains CSS for home page specifically */

#home_logo {
    margin-left: 10px;
}

/* start order button specifications */
#start_order {
    background-color: #D2ACAC;
    border: medium solid #A18484;
    border-radius: 19px;
    padding: 14px 20px;
    margin-right: 120px;
    margin-top: 50px;
    font-size: 53px;
    text-align: center;
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-variant: normal;
    float: right;
}

/* sets up grid for home page */
main {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px;
    margin: auto;
    line-height: 10px;
    background-color: white;
    font-weight: lighter;
    font-size:27px;
    justify-content: center;
    justify-items: center;
    align-items: stretch;
    align-content: center;
    grid-auto-flow: row;
}

/* formats images */
.roll_images {
    border: medium solid #A18484;
    border-radius: 10%;
}